@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.film-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.films {
  margin: 20px;
}
